// Theme variables cusomizations
@import "~/scss/variables";

// Core CSS
@import "~nativescript-theme-core/scss/index";

// Style adjustments for Android
@import "~nativescript-theme-core/scss/platforms/index.android";

// App styles common to Android and iOS platforms.
@import "~/scss/app-common";

// Android specific app styles
.action-bar-icon {
  width: 60;
}

// Globally applying button color to let it apply to dialog buttons.
Button {
  color: $c-accent;
}

.btn-primary:highlighted {
  background-color: $c-dark-accent;
}