Page{background-color:#e9e9e9}.outer{background-color:white;margin-left:20;margin-right:20;margin-bottom:20;margin-top:20}.inner{height:100%;width:100%;background-color:white;vertical-align:center}Image{margin-top:5;margin-bottom:20}Button,TextField,.para{margin-left:16;margin-right:16;margin-bottom:10}.submit-button{background-color:#de4fa0;color:white;margin-top:20}.heading{color:#7e45af;font-size:24;text-align:center}.para{margin-top:5;margin-bottom:20;color:#212121;font-size:16;text-align:center}.skip-button{padding:5;background-color:#CB1D00;color:white;text-align:center;font-size:16}
