 <StackLayout class="page" [visibility]="showIntro ? 'visible' : 'collapse'" >    
    <slides
        [loop]="true"
        [pageIndicators]="true"
        [zoomEnabled]="true">

        <slide [class]="'slide-' + (i + 1)" *ngFor="let item of items;let i = index;">
          <Label class="slideLabel" [text]="'This is Panel ' + (i + 1)"></Label>
          <!-- <Label class="slideLabel, list-group-item" [nsRouterLink]="['/item', item.id]" [text]="item.name"></Label> -->
        </slide>
      </slides> 
    </StackLayout>

  <StackLayout [visibility]="showIntro ? 'visible' : 'collapse'" > 
      <GridLayout>
        <Button #bottomElt style.verticalAlignment="bottom" horizontalAlignment="right" minWidth="70" text="Got it!" class="skip-button" (tap)="showLogin()" ></Button>
      </GridLayout>
  </StackLayout>

  <Page [visibility]="showIntro ? 'collapse' : 'visible'">   
    <AbsoluteLayout class="outer" >
    <StackLayout class="inner" #container>
      <Image src="res://signinicon" stretch="none" horizontalAlignment="center"></Image>

      <Label class="heading" text="Welcome!"> </Label>
      <Label *ngIf="isLoggingIn" class="para" textWrap="true" text="Please enter your credentials to Login"> </Label> 
      <Label *ngIf="!isLoggingIn" class="para" textWrap="true" text="Please enter your email address to begin sign up."> </Label>  

      <TextField *ngIf="isLoggingIn" hint="User Name" [(ngModel)]="user.uname"
      autocorrect="false" autocapitalizationType="none"></TextField>
      <TextField *ngIf="!isLoggingIn" hint="Email Address" keyboardType="email" [(ngModel)]="user.email"
      autocorrect="false" autocapitalizationType="none"></TextField>
      <TextField *ngIf="isLoggingIn" hint="Password" secure="true" [(ngModel)]="user.password"></TextField>
    
      <Button [text]="isLoggingIn ? 'Sign in' : 'Continue'" class="submit-button" (tap)="submit()"></Button>
      <Button [text]="isLoggingIn ? 'Sign up' : 'Back to login'" (tap)="toggleDisplay()"></Button>
    </StackLayout>
  </AbsoluteLayout>
  </Page>