<ActionBar title="Home">
        <NavigationButton icon="res://ic_menu" (tap)="toggleDrawerState()" *ifAndroid></NavigationButton>
        <ActionItem icon="res://ic_menu" (tap)="toggleDrawerState()" ios.position="left" *ifIos></ActionItem>
</ActionBar>

<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <StackLayout class="sideStackLayout">
            <Label text="Primary" class="sideLabel sideLightGrayLabel"></Label>
            <Label text="Social" class="sideLabel"></Label>
            <Label text="Promotions" class="sideLabel"></Label>
            <Label text="" class="sideLabel sideLightGrayLabel"></Label>
            <Label text="LogOut" (tap)="logout()" class="sideLabel"></Label>
        </StackLayout>
        
    </StackLayout>
    <StackLayout tkMainContent>
        <Button text="Go to Video Page" class="submit-button" (tap)="showVideoPage()" ></Button>
    </StackLayout>
</RadSideDrawer>