.submit-button {
    background-color: #de4fa0;
    color: white;
    margin-top: 20;
    margin-left: 20;
    margin-right: 20;
}

.drawerContentText {
    font-size: 13;
    padding: 10;
}

.sideStackLayout {
    background-color: #B388FF;
}

.sideTitleStackLayout {
    height: 56;
    text-align: center;
    vertical-align: center;
}

.sideLabel {
    padding: 10;
}

.sideLightGrayLabel {
    background-color: #9575CD;
}