<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" id="register-div">
            <div class="panel panel-primary">
                <div class="panel-heading"><h2 style="text-align:center;">Registration</h2></div>
                <div class="panel-body">
                    <form name="registerForm" #registerForm="ngForm" (ngSubmit)="registerForm.form.valid && submitRegistration()">  <!--(ngSubmit)="submitHandler(registerForm.value)"-->
                        <div class="form-group">
                            <label for="username">First Name</label>
                            <input type="text" name="firstName" #firstName="ngModel" [(ngModel)]="user.firstName" class="form-control" ngModel required />
                            <!--<div [hidden]="firstNameRef.valid || firstNameRef.pristine" class="alert alert-danger">
                              Please enter first name
                            </div>-->
                        </div>
                        <div class="form-group">
                            <label for="username">Last Name</label>
                            <input type="text" name="lastName" #lastName="ngModel"  [(ngModel)]="user.lastName" class="form-control" ngModel required />
                            <!--<div [hidden]="lastNameRef.valid || lastNameRef.pristine" class="alert alert-danger">
                                Please enter last name
                            </div>-->
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" #username="ngModel"  [(ngModel)]="user.username" class="form-control" ngModel required />
                            <!--<div [hidden]="usernameRef.valid || usernameRef.pristine" class="alert alert-danger">
                                Please enter username
                            </div>-->
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="text" name="password" #password="ngModel"  [(ngModel)]="user.password" class="form-control" ngModel required />
                            <!--<div [hidden]="passwordRef.valid || passwordRef.pristine" class="alert alert-danger">
                                Please enter Password
                            </div>-->
                        </div> 
                        <div class="form-group">
                                <label for="password"> Confirm Password</label>
                                <input type="text" name="password" #password="ngModel"  [(ngModel)]="user.password" class="form-control" ngModel required />                       
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid" id="btnSubmit">Register</button>
                            <a href="#!/login" class="btn btn-link pull-right">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p>Current count: <strong>{{ currentCount }}</strong></p>

<button (click)="incrementCounter()">Increment</button>-->
