<ActionBar title="Videos"></ActionBar>

<StackLayout>
    <Label [text]="videoSrc" textWrap="true" class="label"></Label>

    <VideoPlayer id="nativeVideoPlayer"
        src="{{ videoSrc }}"
        autoplay="true"
        height="230">
    </VideoPlayer>

    <GridLayout rows="*">
        <ListView [items]="videos" (itemTap)="onItemTap($event)" class="list-group">
            <ng-template let-video="item" let-third="third" let-header="header" let-footer="footer">
                <StackLayout class="list-group-item">
                    <Label [text]="video.name" textWrap="true" class="titlelabel"></Label>
                    <Label [text]="video.url" textWrap="true" class="detaillabel"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    </GridLayout>

</StackLayout>
