.label {
    //background-color : lightcyan;
    font-size: 15px;
    color: black;
    margin-bottom: 10;
    margin-top: 10;
}

.titlelabel {
    font-size: 20px;
    color: black;
    text-align: left;
    margin-top: 5;
    
}

.detaillabel {
    font-size: 12px;
    color: black;
    text-align: left;
    margin-top: 5;
}