
<div class="container-fluid">
 <div class="row">
  <div class="col-md-3" id="forgot-box">
  <div class="form-group">
    <label for="username">Enter your Email</label>
    <input type="text" name="email" #username="ngModel" [(ngModel)]="user.username" class="form-control" ngModel required />
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-lg btn-primary">Send</button>
    <button type="Cancel" class="btn btn-lg btn-secondary float-right">Cancel</button>
  </div>
</div>
</div> 
</div>