<div class="container-fluid">
    <div class="row">
        <div  id="login-div">                        
            <div class="row login-header">
                <div class="col-md-12">
                 
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h2 style="text-align:center;">Login</h2></div>
                        <div class="panel-body">
                            <form name="loginForm" #loginForm="ngForm">
                                <div class="form-group">
                                    <label for="username"></label>
                                    <input type="text" placeholder="Username" #userName="ngModel" name="userName" class="form-control" ngModel required />
                                <!-- <div [hidden]="UserNameRef.valid || UserNameRef.pristine" class="alert alert-danger">
                                        Please enter username
                                    </div> -->
                                </div>
                                <div class="form-group">
                                    <label for="password"></label>
                                    <input type="password"placeholder="Password" #password="ngModel" name="password" class="form-control" ngModel required/>
                                    <!-- <div [hidden]="PasswordRef.valid || PasswordRef.pristine" class="alert alert-danger">
                                        Please enter password
                                    </div> -->
                                </div>
                                <div class="form-actions">
                                    <button class="btn btn-lg col-12 btn-primary" [disabled]="!loginForm.Form.value" type="submit" (click)="createLogin(userName.value ,password.value)">Login</button>                                    
                                </div>
                                <div class="form-group">
                                    <a [routerLink]="['/forgot-password']" class="btn btn-link float-left">Forgot your password?</a>
                                    <a [routerLink]="['/registration']" class="btn btn-link float-right">Register</a>
                                                           
                                </div>
                        
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
