@import '../../scss/variables';
@import url(https://fonts.googleapis.com/css?family=Tenor+Sans);

.mt-40 {
    margin-top: 100px;
}

#login-div {
    margin:3rem auto 0;
    float: none;
    padding: 50px;
    box-shadow: 1px 1px 48px rgb(4, 96, 169);
    background:white;
    border-radius: 1rem;    
}

.login-header {
    margin-top: 10px;    
    text-align: center;
}

input.ng-invalid{
    border-left: 5px solid red;
}

input.ng-valid {
    border-left: 5px solid green;
}

