ActionBar {
  background-color: $c-primary;
  color: $c-primary-contrast;
}

TextField {
  padding: 10;
  font-size: 13;
}

Page {
  background-color: $c-white;
  font-size: 15;
}

.slide-1{
    background-color: $slide1;
}
.slide-2{
    background-color: $slide2;
}
.slide-3{
    background-color: $slide3;
}

.slideLabel{
    text-align: center;
    width: 100%;
    font-size: 35;
    margin-top: 35;
    color: $c-white;

}

.slide-indicator-inactive{
    background-color: $c-white;
    opacity : 0.4;
    width : 10;
    height : 10;
    margin-left : 2.5;
    margin-right : 2.5;
    margin-top : 0;
    margin-bottom: 30;
    border-radius : 5;
}

.slide-indicator-active{
    background-color: $c-white;
    opacity : 0.9;
    width : 10;
    height : 10;
    margin-left : 2.5;
    margin-right : 2.5;
    margin-bottom: 30;
    margin-top : 0;
    border-radius : 5;
}

