<div class="container-fluid">
  <div class="row top-bar">
    <!-- <h1 class="title">Novartis</h1> -->
    <div class="col-md-2">
      <img src="https://www.novartis.com/sites/all/themes/novartis/novartis-logo.svg" alt="Novaties" class="logo">
    </div>
  </div>
</div>
<div class="content-container">
  <router-outlet></router-outlet>
</div>