@import "../scss/_variables";

.top-bar {
  background-color:#fff;
  border-bottom: 1px solid rgba(0,0,0,.2);
  /*color: $c-primary-contrast;
  height: 70px;*/

  .title {

    /*text-align: center;
    padding: 17px;*/


  }


  .logo{
    margin:30px;
  }



}

/*.content-container {
  text-align: center;
}*/

/*Mobile Devices Begins*/
@media (max-width:767px){
  .top-bar{
    .logo{
      margin:15px;
    }
  }
}
/*Mobile Devices Ends*/ 