@import "../x-shared/scss/variables";

body{
    /*background:url(https://www.novartis.co.uk/sites/all/themes/novartis/images/patterns/blue_carbon_open_pattern_tile_120.png);*/
}



.btn-primary{
    &.disabled, &:disabled{
        background:$c-grey-400;
        border-color:$c-grey-300;
    }
}

